.alert-error {
    color: red;
}

.header {
    width: 100%;
    background-color: #3F51B5;
    height: 60px;
    margin-bottom: 16px;
}
.header label {
    font-weight: bold;
    margin-top: 25px;
    float: left;
    line-height: 18px;
    padding-left: 70px;
    color: white;
    text-shadow: 2px 2px black;
}


.left {
    width: 48%;
    background-color: lightcoral;
    /* display: inline-block; */
    float: left;
    box-shadow: 1px 1px 9px;
    padding: 10px;
    margin: 0px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);

}

.right {
    /* width: 50%;
    background-color: lightgoldenrodyellow;
    display: inline-block;
     */
    float: right;
    width: 48%;
    margin-left: 3px;
    padding: 2px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
}


body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Raleway' , sans-serif;   
    /* font-family: "Montserrat", sans-serif; */
}

select {
    margin-top: 20px;
    height: 30px;
    border-radius: 3px; 
    float: left;
    margin-left:25px;
  }
  .option {
    background-color: white;
}

img {
    border-radius: 3px;
    margin-right: 16px;
    height: 48px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0, 87%);
}

a:hover {
    color: #3F51B5;
}

a:visited {
    color: plum;
}